@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: grey;
    font-family: "Roboto", serif;
}

h1{
    background-color: aqua;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 2px;
    word-spacing: 8px;
}

h2{
    background-color: rgb(187, 203, 228);
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-decoration: underline;  
}

p{
    font-size: 15px;
}

li{
    color: white;
    font-size: 15px;
    text-decoration: line-through;
}